// @include font-face("Muller", "/fonts/MullerRegular", 400, normal);
@font-face {
    font-family: 'Asap-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Asap-Regular'),
        url('/fonts/Asap-Regular.woff2') format('embedded-opentype'),
        url('/fonts/Asap-Regular.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Asap-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Asap-SemiBold'),
        url('/fonts/Asap-SemiBold.woff2') format('embedded-opentype'),
        url('/fonts/Asap-SemiBold.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraLight';
    font-weight: 200;
    font-style: normal;
    src: local('Inter-ExtraLight'),
        url('/fonts/Inter-ExtraLight.woff2') format('embedded-opentype'),
        url('/fonts/Inter-ExtraLight.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Inter-Medium'),
        url('/fonts/Inter-Medium.woff2') format('embedded-opentype'),
        url('/fonts/Inter-Medium.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Inter-Regular'),
        url('/fonts/Inter-Regular.woff2') format('embedded-opentype'),
        url('/fonts/Inter-Regular.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Karma-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Karma-Medium'),
        url('/fonts/Karma-Medium.woff2') format('embedded-opentype'),
        url('/fonts/Karma-Medium.woff') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('OpenSans-Regular'),
        url('/fonts/OpenSans-Regular.woff2') format('embedded-opentype'),
        url('/fonts/OpenSans-Regular.woff') format('embedded-opentype');
    font-display: swap;
}